<?xml version="1.0"?>

<settings
    xmlns="http://xml.first-ms3d.jp/masspp/settings"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/settings http://first-ms3d.jp/development/masspp-settings110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <chapters>
    <chapter id="0">View</chapter>
    <chapter id="1" parent="0">Data Map Filter</chapter>
  </chapters>
  <values>
    <value id="0" type="string" default="ms" required="true">
      <enum>
        <enum-name>MS</enum-name>
        <enum-value>ms</enum-value>
      </enum>
      <enum>
        <enum-name>MS/MS</enum-name>
        <enum-value>ms2</enum-value>
      </enum>
      <enum>
        <enum-name>All</enum-name>
        <enum-value>all</enum-value>
      </enum>
    </value>
  </values>
  <params>
    <param id="0" value="0">
      <param-name>dmfilter</param-name>
      <param-section>Data Map Filter</param-section>
      <param-key>FILTER</param-key>
    </param>           
  </params>
  <pages>
    <page chapter="0" common="true">
      <page-name>common</page-name>
      <page-title>Data Map Filter</page-title>
      <forms>
        <form id="0" param="0">
          <form-title>Filter</form-title>
        </form>
      </forms>
    </page>
  </pages>
</settings>
