<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>Filter</name>
  <version>1.00</version>
  <provider>Eisai Co., Ltd.</provider>
  <link>FilterPlugin</link>
  <icons>
    <icon id="0" type="png">
      <icon-name>filter</icon-name>
      <icon-file>images/filter_icon16x16.png</icon-file>
    </icon>
  </icons>
  <menu>
    <menu-item id="0" accelerator="P" order="4">
      <menu-name>Processing</menu-name>
    </menu-item>
    <menu-item id="1" parent="0" accelerator="B" order="3">
      <menu-name>Basic Data Manipulation</menu-name>
      <menu-group order="4">manipulation</menu-group>
    </menu-item>
    <menu-item id="2" parent="1" accelerator="F" order="5" target="spec_chrom">
      <menu-name>Filter Waveform...</menu-name>
      <toolbar>Data Manipulation</toolbar>
      <menu-description>Filter current chromatogram / spectrum using specified filter method</menu-description>
    </menu-item>
  </menu>  
  <function>
    <call type="execute" icon="0">
      <call-name>filter</call-name>
      <call-function>openFilterDialog</call-function>
      <call-description>Filter waveform...</call-description>
      <params>
        <param>
          <param-name>menu</param-name>
          <param-value>2</param-value>
        </param>
      </params>
    </call>
    <!-- Operation -->
    <call type="operation">
      <call-name>spectrum filter operation</call-name>
      <call-function>getSpecFilterOperation</call-function>
      <call-description>waveform filter operation</call-description>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Waveform Filter</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>spec_waveform_filter</param-value>
        </param>
        <param>
          <param-name>batchexecutable</param-name>
          <param-value>true</param-value>
        </param>
      </params>
    </call>
    <call type="operation">
      <call-name>chromatogram filter operation</call-name>
      <call-function>getChromFilterOperation</call-function>
      <call-description>filter operation</call-description>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Waveform Filter</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>chrom_waveform_filter</param-value>
        </param>
        <param>
          <param-name>batchexecutable</param-name>
          <param-value>true</param-value>
        </param>
      </params>
    </call>
    <call type="batch">
      <call-name>batch</call-name>
      <call-function>filterWaveformOnBatch</call-function>
      <params>
        <param>
          <param-name>step</param-name>
          <param-value>manipulate</param-value>          
        </param>
        <param>
          <param-name>long name</param-name>
          <param-value>Waveform Filter</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>wvfilter</param-value>
        </param>
        <param>
          <param-name>page</param-name>
          <param-value>filter</param-value>
        </param>
        <param>
          <param-name>desc</param-name>
          <param-value>Applying waveform filter</param-value>          
        </param>        
      </params>      
    </call>
    <!-- spec data manipulation -->
    <call type="spec_manipulation">
      <call-name>Spec Waveform Filter</call-name>
      <call-function>getSpecXYDataOperation</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Waveform Filter</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>spec_waveform_filter</param-value>
        </param>
        <param>
          <param-name>page</param-name>
          <param-value>spec_params</param-value>
        </param>
      </params>
    </call>
    <!-- chrom data manipulation -->
    <call type="chrom_manipulation">
      <call-name>Chrom Waveform Filter</call-name>
      <call-function>getChromXYDataOperation</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Waveform Filter</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>chrom_waveform_filter</param-value>
        </param>
        <param>
          <param-name>page</param-name>
          <param-value>chrom_params</param-value>
        </param>
      </params>
    </call>
  </function>
  <components>
    <component>
      <component-name>filter</component-name>
      <component-desc>Waveform Filter</component-desc>
      <component-calls>
        <component-call>filter</component-call>
        <component-call>spectrum filter operation</component-call>
        <component-call>chromatogram filter operation</component-call>
        <component-call>batch</component-call>        
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Identification</package-name>
      <package-components>
        <package-component>filter</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>filter</package-component>
      </package-components>
    </package>    
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>filter</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Viewer</package-name>
      <package-components>
        <package-component>filter</package-component>
      </package-components>
    </package>    
  </packages>
  <parameters>
    <parameters-file>settings-batch.xml</parameters-file>
    <parameters-file>settings.xml</parameters-file>
  </parameters>  
</plugin>
