<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>MRM Peak Finder</name>
  <version>1.00</version>
  <provider>Eisai Co., Ltd.</provider>
  <link>MrmPeakFinderPlugin</link>
  <function>
    <call type="quant_peak_pos">
      <call-name>detectPeakPosition</call-name>
      <call-function>detectPeakPosition</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>MRM Peak Finder</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>mrm</param-value>
        </param>
        <param>
          <param-name>page</param-name>
          <param-value>Peak Position</param-value>
        </param>
        <param>
          <param-name>desc</param-name>
          <param-value>Getting peak positions method for MRM data.</param-value>
        </param>
      </params>
      <call-description>detect position</call-description>
    </call>
  </function>
  <components>
    <component>
      <component-name>MRM Peaks</component-name>
      <component-desc>Get peak positions from MRM chromatogram peaks.</component-desc>
      <component-calls>
        <component-call>detectPeakPosition</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>MRM Peaks</package-component>
      </package-components>
    </package>
  </packages>
  <parameters>
    <parameters-file>settings.xml</parameters-file>
  </parameters>
</plugin>
