<?xml version="1.0"?>

<settings
    xmlns="http://xml.first-ms3d.jp/masspp/settings"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/settings http://first-ms3d.jp/development/masspp-settings110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <values>
    <value id="0" type="string" required="true">
      <item-type>CHROM_PEAK_PICKING</item-type>
    </value>
    <value id="1" type="string" default="int" required="true">
      <enum>
        <enum-name>Intensity</enum-name>
        <enum-value>int</enum-value>
      </enum>
      <enum>
        <enum-name>Area</enum-name>
        <enum-value>area</enum-value>
      </enum>
    </value>
    <value id="2" type="double" default="0.01" minInclusive="0.0" required="true" />
    <value id="3" type="double" default="0.01" minInclusive="0.0" required="true" />
  </values>
  <params>
    <param id="0" value="0">
      <param-name>peak</param-name>
      <param-section>MRM Peak Finder</param-section>
      <param-key>PEAK_DETECTOR</param-key>
    </param>
    <param id="1" value="1">
      <param-name>value_type</param-name>
      <param-section>MRM Peak Finder</param-section>
      <param-key>VALUE_TYPE</param-key>
    </param>
    <param id="2" value="2">
      <param-name>rt_tol</param-name>
      <param-section>MRM Peak Finder</param-section>
      <param-key>RT_TOLERANCE</param-key>
    </param>
    <param id="3" value="3">
      <param-name>mz_tol</param-name>
      <param-section>MRM Peak Finder</param-section>
      <param-key>MZ_TOLERANCE</param-key>
    </param>
  </params>
  <pages>
    <page common="false">
      <page-name>Peak Position</page-name>
      <page-title>MRM Peak Finder</page-title>
      <forms>
        <form id="0" param="0">
          <form-title>Peak Detector</form-title>
        </form>
        <form id="1" param="1">
          <form-title>Peak Value</form-title>
        </form>
        <form id="2" param="2">
          <form-title>RT Tolerance</form-title>
        </form>
        <form id="3" param="3">
          <form-title>m/z Tolerance</form-title>
        </form>
      </forms>
    </page>
  </pages>
</settings>
