<?xml version="1.0"?>

<settings
    xmlns="http://xml.first-ms3d.jp/masspp/settings"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/settings http://first-ms3d.jp/development/masspp-settings110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <values>
    <value id="0" type="double" default="1.0" minInclusive="0.0" required="true" />
    <value id="1" type="double" default="0.15" minInclusive="0.0" required="true" />
    <value id="2" type="bool" default="false" required="true" />
    <value id="3" type="double" default="200.0" minInclusive="1.0" required="true" />
    <value id="4" type="int" default="30" minInclusive="3" required="true" />
    <value id="5" type="int" default="10" minInclusive="1" required="true" />
  </values>
  <params>
    <param id="0" value="0">
      <param-name>sn</param-name>
      <param-section>OpenMS</param-section>
      <param-key>SIGNAL_TO_NOISE</param-key>
    </param>
    <param id="1" value="1">
      <param-name>width</param-name>
      <param-section>OpenMS</param-section>
      <param-key>PEAK_WIDTH</param-key>      
    </param>
    <param id="2" value="2">
      <param-name>estimate</param-name>
      <param-section>OpenMS</param-section>
      <param-key>ESTIMATE_PEAK_WIDTH</param-key>
    </param>
    <param id="3" value="3">
      <param-name>len</param-name>
      <param-section>OpenMS</param-section>
      <param-key>WINDOW_LENGTH</param-key>
    </param>
    <param id="4" value="4">
      <param-name>cnt</param-name>
      <param-section>OpenMS</param-section>
      <param-key>BIN_COUNT</param-key>
    </param>
    <param id="5" value="5">
      <param-name>min</param-name>
      <param-section>OpenMS</param-section>
      <param-key>MIN_ELEMENTS</param-key>
    </param>
  </params>
  <pages>
    <page common="false">
      <page-name>wavelet</page-name>
      <page-title>Wavelet Peak Detection (OpenMS)</page-title>
      <forms>
        <form id="0" param="0">
          <form-title>S/N</form-title>
        </form>
        <form id="1" param="1">
          <form-title>Peak Width</form-title>
        </form>
        <form id="2" param="2">
          <form-title>Estimate Peak Width</form-title>
        </form>
      </forms>
    </page>
    <page common="false">
      <page-name>hires</page-name>
      <page-title>High Resolution Peak Detection (OpenMS)</page-title>
      <forms>
        <form id="0" param="0">
          <form-title>S/N</form-title>
        </form>
        <form id="3" param="3">
          <form-title>Window Length</form-title>
        </form>
        <form id="4" param="4">
          <form-title>Bin Count</form-title>
        </form>
        <form id="5" param="5">
          <form-title>Min. Required Elements</form-title>
        </form>
      </forms>
    </page>
  </pages>
</settings>
