<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>ApiPeakDetectionPlugin</name>
  <version>1.00</version>
  <provider>Shimadzu Corporation</provider>
  <link>ApiPeakDetectionPlugin</link>
  <function>
    <call type="spec_peak_picking">
      <call-name>detectPeaks</call-name>
      <call-function>detectPeaks</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>API Peak Detection</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>api</param-value>
        </param>
        <param>
          <param-name>desc</param-name>
          <param-value>
            Detect peaks using instrument software function.
            Some kind of data is not supported.
          </param-value>
        </param>
      </params>
    </call>
  </function>    
  <components>
    <component>
      <component-name>peaks</component-name>
      <component-desc>API Peak Detector</component-desc>
      <component-calls>
        <component-call>detectPeaks</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Identification</package-name>
      <package-components>
        <package-component>peaks</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>peaks</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>peaks</package-component>
      </package-components>
    </package>
  </packages>    
</plugin>
