<?xml version="1.0"?>

<settings
    xmlns="http://xml.first-ms3d.jp/masspp/settings"
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/settings http://first-ms3d.jp/development/masspp-settings110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <chapters>
    <chapter id="0">View</chapter>
    <chapter id="1" parent="0">Drawing</chapter>
  </chapters>

  <values>
    <value id="0" type="int"  default="1" minInclusive="1" maxInclusive="10" required="true" />
    <value id="1" type="color" default="red" required="true" />
    <value id="2" type="color" default="blue" required="true" />
  </values>
  <params>
    <param id="0" value="0">
      <param-name>width_spec</param-name>
      <param-section>Drawing</param-section>
      <param-key>WIDTH_SPEC</param-key>
    </param>
    <param id="1" value="1">
      <param-name>color_spec</param-name>
      <param-section>Drawing</param-section>
      <param-key>COLOR_SPEC</param-key>
    </param>
    <param id="2" value="0">
      <param-name>width_chrom</param-name>
      <param-section>Drawing</param-section>
      <param-key>WIDTH_CHROM</param-key>      
    </param>
    <param id="3" value="2">
      <param-name>color_chrom</param-name>
      <param-section>Drawing</param-section>
      <param-key>COLOR_CHROM</param-key>
    </param>
  </params>
  <groups>
    <group id="0">
      <group-name>Spectrum Profile</group-name>
    </group>
    <group id="1">
      <group-name>Chromatogram Profile</group-name>
    </group>
  </groups>
  <pages>
    <page chapter="1" common="true" eachmachine="true">
      <page-name>common</page-name>
      <page-title>Profile</page-title>
      <forms>
        <form id="0" group="0" param="0">
          <form-title>Width</form-title>
          <form-desc>Set the width of spectrum profile line.</form-desc>
        </form>
        <form id="1" group="0" param="1">
          <form-title>Color</form-title>
          <form-desc>Set the color of spectrum profile line.</form-desc>
        </form>
        <form id="2" group="1" param="2">
          <form-title>Width</form-title>
          <form-desc>Set the width of chromatogram line.</form-desc>
        </form>
        <form id="3" group="1" param="3">
          <form-title>Color</form-title>
          <form-desc>Set the color of chromatogram line.</form-desc>
        </form>
      </forms>
    </page>
    <!-- Context Menu -->
    <!-- chromatogram profile -->
    <page chapter="1" common="true" eachmachine="true">
      <page-name>common</page-name>
      <page-title>Profile</page-title>
      <properties-page type="chrom_view" />
      <forms>
        <form id="0" group="1" param="2">
          <form-title>Width</form-title>
          <form-desc>Set the width of chromatogram line.</form-desc>
        </form>
        <form id="1" group="1" param="3">
          <form-title>Color</form-title>
          <form-desc>Set the color of chromatogram line.</form-desc>          
        </form>
      </forms>
    </page>
    <!-- spectrum profile -->
    <page chapter="1" common="true" eachmachine="true">
      <page-name>common</page-name>
      <page-title>Profile</page-title>
      <properties-page type="spec_view" />
      <forms>
        <form id="0" group="0" param="0">
          <form-title>Width</form-title>
         <form-desc>Set the width of spectrum profile line.</form-desc>
        </form>
        <form id="1" group="0" param="1">
          <form-title>Color</form-title>
          <form-desc>Set the color of spectrum profile line.</form-desc>
        </form>
      </forms>
    </page>
  </pages>
  
</settings>
