<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>AIAInputPlugin</name>
  <version>1.00</version>
  <provider>Shimadzu Corporation</provider>
  <link>AIAInputPlugin</link>
  <function>
    <call type="open_file">
      <call-name>openAIAFile</call-name>
      <call-function>openAIA</call-function>
      <params>
        <param>
          <param-name>name</param-name>
          <param-value>AIA File</param-value>
        </param>
        <param>
          <param-name>ext</param-name>
          <param-value>CDF</param-value>
        </param>
      </params>
      <call-description>open netCDF file</call-description>
    </call>
  </function>
  <components>
    <component>
      <component-name>import</component-name>
      <component-desc>import AIA(netCDF) file.</component-desc>
      <component-calls>
        <component-call>openAIAFile</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Identification</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Viewer</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
    <package>
      <package-name>MassBank</package-name>
      <package-components>
        <package-component>import</package-component>
      </package-components>
    </package>
  </packages>


</plugin>
