<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>Overlapping Canvas</name>
  <version>1.00</version>
  <provider>Eisai Co., Ltd.</provider>
  <link>OverlappingCanvasPlugin</link>
  <icons>
    <icon id="0" type="png">
      <icon-name>overlapping_cursor</icon-name>
      <icon-file>images/overlapping_cursor.png</icon-file>
    </icon>
    <icon id="1" type="png">
      <icon-name>overlapping_window</icon-name>
      <icon-file>images/overlapping_icon16x16.png</icon-file>
    </icon> 
    <icon id="2" type="png">
      <icon-name>overlapping_dlg</icon-name>
      <icon-file>images/overlapping_dlg_icon16x16.png</icon-file>
    </icon>
    <icon id="3" type="png">
      <icon-name>overlapping_del</icon-name>
      <icon-file>images/overlapping_del_icon16x16.png</icon-file>
    </icon>
    <icon id="4" type="png">
      <icon-name>overlapping_dis_del</icon-name>
      <icon-file>images/overlapping_del_disabled_icon16x16.png</icon-file>
    </icon>
    <icon id="5" type="png">
      <icon-name>overlapping_up</icon-name>
      <icon-file>images/overlapping_up_icon16x16.png</icon-file>
    </icon>
    <icon id="6" type="png">
      <icon-name>overlapping_dis_up</icon-name>
      <icon-file>images/overlapping_up_disabled_icon16x16.png</icon-file>
    </icon>
    <icon id="7" type="png">
      <icon-name>overlapping_dwn</icon-name>
      <icon-file>images/overlapping_down_icon16x16.png</icon-file>
    </icon>
    <icon id="8" type="png">
      <icon-name>overlapping_dis_dwn</icon-name>
      <icon-file>images/overlapping_down_disabled_icon16x16.png</icon-file>
    </icon>
    <icon id="9" type="png">
      <icon-name>overlapping_color</icon-name>
      <icon-file>images/overlapping_color_icon16x16.png</icon-file>
    </icon>
    <icon id="10" type="png">
      <icon-name>overlapping_dis_color</icon-name>
      <icon-file>images/overlapping_color_disabled_icon16x16.png</icon-file>
    </icon>
    <icon id="11" type="png">
      <icon-name>overlapping_updt</icon-name>
      <icon-file>images/overlapping_update_icon16x16.png</icon-file>
    </icon>
    <icon id="12" type="png">
      <icon-name>overlapping_dis_updt</icon-name>
      <icon-file>images/overlapping_update_disabled_icon16x16.png</icon-file>
    </icon>
  </icons>
  <statuses>
    <status id="0">
      <status-name>OVERLAPPING_SETTINGS_VIEW</status-name>
      <status-value>on</status-value>
    </status>
    <status id="1">
      <status-name>WINDOW</status-name>
      <status-value>Overlapping</status-value>
    </status>
  </statuses>
  <gui>
    <status-bar target="none" order="1" width="160">
      <status-bar-name>DispMode</status-bar-name>
    </status-bar>
  </gui>
  
  <menu>
    <menu-item id="0" accelerator="V" order="3">
      <menu-name>View</menu-name>
    </menu-item>
    <menu-item id="1" parent="0" accelerator="P" order="0">
      <menu-name>Pane</menu-name>
    </menu-item>
    <menu-item id="3" parent="1" accelerator="O" >
      <menu-name>Overlapping Settings</menu-name>
      <menu-description>Show / hide the Overlapping Settings pane</menu-description>
    </menu-item>
    <menu-item id="4" parent="0" accelerator="D">
      <menu-name>Display Mode</menu-name>
      <menu-group order="7">graph</menu-group>
    </menu-item>
    <menu-item id="5" parent="4" accelerator="O" checked="1">
      <menu-name>Overlapping</menu-name>
      <toolbar order="0">window</toolbar>
      <menu-description>Change the chromatogram / spectrum display mode to overlapping</menu-description>
    </menu-item>

  </menu>
  <function>
    <call type="init_gui" status="0">
      <call-name>initialize overlapping settings pane</call-name>
      <call-function>initGui</call-function>
      <call-description>initialize overlapping settings pane</call-description>
    </call>
    <call type="on_activate" ifloaded="true">
      <call-name>set active object</call-name>
      <call-function>changeActiveObject</call-function>
      <call-description>active object is changed</call-description>
    </call>
    <call type="spectrum_window" status="1">
      <call-name>getSpectrumCanvas</call-name>
      <call-function>getSpectrumCanvas</call-function>
      <call-description>get spectrum canvas</call-description>
    </call>
    <call type="chromatogram_window" status="1">
      <call-name>getChromatogramCanvas</call-name>
      <call-function>getChromatogramCanvas</call-function>
      <call-description>get chromatogram canvas</call-description>
    </call>
    <call type="select_spectrum">
      <call-name>Select canvas of spectrum</call-name>
      <call-function>SelectCanvasOfSpectrum</call-function>
      <call-description>Select canvas of spectrum</call-description>
      <params>
        <param>
          <param-name>short name</param-name>
          <param-value>overlapping</param-value>
        </param>
      </params>
    </call>
    <call type="select_chromatogram">
      <call-name>Select canvas of chromatogram</call-name>
      <call-function>SelectCanvasOfChromatogram</call-function>
      <call-description>Select canvas of chromatogram</call-description>
      <params>
        <param>
          <param-name>short name</param-name>
          <param-value>overlapping</param-value>
        </param>
      </params>
    </call>
    <call type="execute" icon="1">
      <call-name>set spectrum and chromatogram status</call-name>
      <call-function>setSpecAndChromStatus</call-function>
      <call-description>Overlapping display mode</call-description>
      <params>
        <param>
          <param-name>menu</param-name>
          <param-value>5</param-value>
        </param>
      </params>
    </call>
    <call type="execute">
      <call-name>toggle overlapping dialog</call-name>
      <call-function>toggleOverlappingDialog</call-function>
      <call-description>Show / Hide the Overlapping Settings Pane</call-description>
      <params>
        <param>
          <param-name>menu</param-name>
          <param-value>3</param-value>
        </param>
      </params>
    </call>
    <call type="checked" ifloaded="true">
      <call-name>check overlapping dialog</call-name>
      <call-function>checkOverlappingDialog</call-function>
      <call-description>check the visibility of the overlapping dialog</call-description>
      <params>
        <param>
          <param-name>menu</param-name>
          <param-value>3</param-value>
        </param>
      </params>
    </call>

    <call type="exit_gui" ifloaded="true">
      <call-name>exit GUI</call-name>
      <call-function>exitGui</call-function>
      <call-description>exit GUI</call-description>
    </call>

    <call type="on_spec_key_up" order="9">
      <call-name>on spectrum key up</call-name>
      <call-function>onSpecKeyUp</call-function>
      <call-description>on spectrum keybord up</call-description>
    </call>

    <!-- Operation -->
    <call type="operation">
      <call-name>spectrum operation</call-name>
      <call-function>getSpecOverlapCanvasOperation</call-function>
      <call-description>spectrum operation</call-description>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Spectrum Overlapping Canvas</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>spec_overlap</param-value>
        </param>
        <param>
          <param-name>batchexecutable</param-name>
          <param-value>false</param-value>
        </param>
      </params>
    </call>

    <call type="operation">
      <call-name>chromatogram operation</call-name>
      <call-function>getChromOverlapCanvasOperation</call-function>
      <call-description>chromatogram operation</call-description>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Chromatogram Overlapping Canvas</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>chrom_overlap</param-value>
        </param>
        <param>
          <param-name>batchexecutable</param-name>
          <param-value>false</param-value>
        </param>
      </params>
    </call>
  </function>
  <components>
    <component>
      <component-name>overlapping</component-name>
      <component-desc>Overlapping View</component-desc>
      <component-calls>
        <component-call>initialize overlapping settings pane</component-call>
        <component-call>set active object</component-call>
        <component-call>getSpectrumCanvas</component-call>
        <component-call>getChromatogramCanvas</component-call>
        <component-call>Select canvas of spectrum</component-call>
        <component-call>Select canvas of chromatogram</component-call>
        <component-call>set spectrum and chromatogram status</component-call>
        <component-call>toggle overlapping dialog</component-call>
        <component-call>check overlapping dialog</component-call>
        <component-call>exit GUI</component-call>
        <component-call>on spectrum key up</component-call>
        <component-call>spectrum operation</component-call>
        <component-call>chromatogram operation</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Viewer</package-name>
      <package-components>
        <package-component>overlapping</package-component>
      </package-components>
    </package>
  </packages>  
  <help>
    <help-file>help/htmlhelp.hhp</help-file>
  </help>  
</plugin>
