<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>Sample Tree View</name>
  <version>1.00</version>
  <provider>Eisai Co., Ltd.</provider>
  <link>SampleTreeViewPlugin</link>
  <icons>
    <icon id="0" type="png">
      <icon-name>folder-close</icon-name>
      <icon-file>images/folder-close16x16.png</icon-file>
    </icon>
    <icon id="1" type="png">
      <icon-name>folder-open</icon-name>
      <icon-file>images/folder-open16x16.png</icon-file>
    </icon>
  </icons>
  <statuses>
    <status id="0" default="true">
      <status-name>RAW_TREE</status-name>
      <status-value>on</status-value>
    </status>
  </statuses>
  <menu>
    <menu-item id="0" accelerator="V" order="3">
      <menu-name>View</menu-name>
    </menu-item>
    <menu-item id="1" parent="0" accelerator="P" order="0">
      <menu-name>Pane</menu-name>
      <menu-group order="0">addition</menu-group>
    </menu-item>
    <menu-item id="2" parent="1" accelerator="T" order="0">
      <menu-name>Sample Tree</menu-name>
      <menu-description>Show / hide the Sample Tree pane</menu-description>
    </menu-item>
  </menu>
  <function>
    <call type="init_gui">
      <call-name>initialize view</call-name>
      <call-function>initView</call-function>
      <call-description>initialize tree view</call-description>
    </call>
    <call type="exit_gui" ifloaded="true">
      <call-name>finalize view</call-name>
      <call-function>finalizeView</call-function>
      <call-description>finalize the tree view</call-description>
    </call>
    <call type="execute">
      <call-name>toggle tree view</call-name>
      <call-function>toggleTreeView</call-function>
      <params>
        <param>
          <param-name>menu</param-name>
          <param-value>2</param-value>
        </param>
      </params>
      <call-description>Show / Hide the Sample Tree Pane</call-description>
    </call>
    <call type="checked" ifloaded="true">
      <call-name>check the visibility</call-name>
      <call-function>isVisibleTreeView</call-function>
      <params>
        <param>
          <param-name>menu</param-name>
          <param-value>2</param-value>
        </param>
      </params>
      <call-description>check the visibility of the tree view</call-description>
    </call>
    <call type="on_open_sample" ifloaded="true">
      <call-name>add sample node</call-name>
      <call-function>addSampleNode</call-function>
      <call-description>add sample node</call-description>
    </call>
    <call type="on_update_group" ifloaded="true">
      <call-name>update group</call-name>
      <call-function>updateGroup</call-function>
      <call-description>update group</call-description>
    </call>
    <call type="on_update_sample" ifloaded="true">
      <call-name>update sample</call-name>
      <call-function>updateSample</call-function>
      <call-description>update sample</call-description>
    </call>
    <call type="on_activate" ifloaded="true">
      <call-name>select sample</call-name>
      <call-function>selectSamplePage</call-function>
      <call-description>select sample</call-description>
    </call>
    <call type="on_open_spec">
      <call-name>update spectrum</call-name>
      <call-function>updateSpectrum</call-function>
      <call-description>update spectrum selection on open</call-description>
    </call>
    <call type="on_activate">
      <call-name>activate</call-name>
      <call-function>onActivateObject</call-function>
      <call-description>selecting acitive object</call-description>
    </call>
  </function>
  <components>
    <component>
      <component-name>tree</component-name>
      <component-desc>Sample Tree View</component-desc>
      <component-calls>
        <component-call>initialize view</component-call>
        <component-call>finalize view</component-call>
        <component-call>toggle tree view</component-call>
        <component-call>check the visibility</component-call>
        <component-call>add sample node</component-call>
        <component-call>update group</component-call>
        <component-call>update sample</component-call>
        <component-call>select sample</component-call>
        <component-call>update spectrum</component-call>
        <component-call>activate</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Compact</package-name>
      <package-components>
        <package-component>tree</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Identification</package-name>
      <package-components>
        <package-component>tree</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>tree</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>tree</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Viewer</package-name>
      <package-components>
        <package-component>tree</package-component>
      </package-components>
    </package>
    <package>
      <package-name>MassBank</package-name>
      <package-components>
        <package-component>tree</package-component>
      </package-components>
    </package>
  </packages>
  <help>
    <help-file>help/htmlhelp.hhp</help-file>
  </help>
</plugin>
