<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>Intensity Rate Charge Detect</name>
  <version>1.00</version>
  <provider>Eisai Co., Ltd.</provider>
  <link>IntensityRateChargeDetectPlugin</link>
  <function>
    <call type="charge_detect">
      <call-name>detectCharge</call-name>
      <call-function>detectCharge</call-function>
      <!-- add package tag @date 2013.02.05 <Add> S.Sugo from -->
      <packages>
        <package>Identification</package>
        <package>Quantitation</package>
        <package>Data Processing</package>
        <package>Viewer</package>
      </packages>
      <!-- add package tag @date 2013.02.05 <Add> S.Sugo to -->
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Intensity Rate Charge Detect</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>intrate</param-value>
        </param>
      </params>
      <call-description>detect charge</call-description>
    </call>
  </function>
  <components>
    <component>
      <component-name>charge</component-name>
      <component-desc>Intensity Rate Charge Detector</component-desc>
      <component-calls>
        <component-call>detectCharge</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Identification</package-name>
      <package-components>
        <package-component>charge</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>charge</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>charge</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Viewer</package-name>
      <package-components>
        <package-component>charge</package-component>
      </package-components>
    </package>
  </packages>
</plugin>
