<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>XTandem Search</name>
  <version>1.00</version>
  <provider>Shimadzu Corporation</provider>
  <link>XTandemSearchPlugin</link>
  <function>
    <call type="identification">
      <call-name>initialiseSearchEngine</call-name>
      <call-function>initialiseSearchEngine</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>X! Tandem</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>xtandem</param-value>
        </param>
        <param>
          <param-name>page</param-name>
          <param-value>search</param-value>
        </param>
      </params>
      <call-description>database search</call-description>
    </call>
    <call type="check_params">
      <call-name>check_mods</call-name>
      <call-function>checkModifications</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>X!Tandem Modifications</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>tandem_mods</param-value>
        </param>
      </params>
    </call>
    <call type="enumeration">
      <call-name>getresidues</call-name>
      <call-function>getResiduesFileList</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>MSPTM-DB Residue List</param-value>          
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>msptm residues</param-value>          
        </param>        
      </params>      
    </call>
  </function>
  <components>
    <component>
      <component-name>tandem</component-name>
      <component-desc>X! Tandem Search</component-desc>
      <component-calls>
        <component-call>initialiseSearchEngine</component-call>
        <component-call>check_mods</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Identification</package-name>
      <package-components>
        <package-component>tandem</package-component>
      </package-components>
    </package>
    <package>
      <package-name>Quantitation</package-name>
      <package-components>
        <package-component>tandem</package-component>
      </package-components>
    </package>
  </packages>
  <parameters>
    <parameters-file>settings-search.xml</parameters-file>
  </parameters>
</plugin>
