<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"  
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>PostgreSQL</name>
  <version>1.00</version>
  <provider>Shimadzu Co., Ltd.</provider>
  <link>PostgreSQLPlugin</link>
  <function>
    <call type="get_db">
      <call-name>getDb</call-name>
      <call-function>getPostgreSQLDatabaseObject</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>PostgreSQL Database</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>postgresql</param-value>
        </param>
        <param>
          <param-name>page</param-name>
          <param-value>postgresql</param-value>
        </param>
      </params>
      <call-description>get PostgreSQL Database Object</call-description>
    </call>
  </function>
  <components>
    <component>
      <component-name>PostgreSQL</component-name>
      <component-desc>Using PostgreSQL database for Mass++ internal database</component-desc>
      <component-calls>
        <component-call>getDb</component-call>
      </component-calls>
    </component>
  </components>  
  <settings>
    <settings-file>settings.xml</settings-file>
  </settings>
</plugin>
