<?xml version="1.0"?>

<plugin
    xmlns="http://xml.first-ms3d.jp/masspp/plugin"
    xsi:schemaLocation="http://xml.first-ms3d.jp/masspp/plugin http://first-ms3d.jp/development/masspp-plugin110.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>Composition</name>
  <version>1.00</version>
  <provider>Eisai Co., Ltd.</provider>
  <link>CompositionPlugin</link>
  <menu>
    <menu-item id="0" accelerator="P" order="4">
      <menu-name>Processing</menu-name>
    </menu-item>
    <menu-item id="1" parent="0" accelerator="A" order="5">
      <menu-name>Advanced Data Manipulation</menu-name>
      <menu-group order="4">manipulation</menu-group>
    </menu-item>
    <menu-item id="2" parent="1" accelerator="F" order="1" target="tab_samples">
      <menu-name>Sample Fusion...</menu-name>
      <menu-group>advanced data manipulation</menu-group>
      <toolbar>Data Manipulation</toolbar>
      <menu-description>Combine data from two samples using specified method</menu-description>
    </menu-item>
  </menu>
  <function>
    <call type="execute">
      <call-name>open dialog</call-name>
      <call-function>openCompositionDialog</call-function>
      <call-description>Combine Data From Two Samples Using Specified Method</call-description>
      <params>
        <param>
          <param-name>menu</param-name>
          <param-value>2</param-value>
        </param>
      </params>
    </call>
    <!-- Operation -->
    <call type="operation">
      <call-name>Sample Fusion</call-name>
      <call-function>getSampleFusionOperation</call-function>
      <params>
        <param>
          <param-name>long name</param-name>
          <param-value>Sample Fusion</param-value>
        </param>
        <param>
          <param-name>short name</param-name>
          <param-value>sample_fusion</param-value>
        </param>
        <param>
          <param-name>batchexecutable</param-name>
          <param-value>true</param-value>
        </param>
      </params>
      <call-description>sample fusion operation</call-description>
    </call>
  </function>
  <components>
    <component>
      <component-name>sample fusion</component-name>
      <component-desc>Sample Fusion</component-desc>
      <component-calls>
        <component-call>open dialog</component-call>
        <component-call>Sample Fusion</component-call>
      </component-calls>
    </component>
  </components>
  <packages>
    <package>
      <package-name>Data Processing</package-name>
      <package-components>
        <package-component>sample fusion</package-component>
      </package-components>
    </package>
  </packages>
  <help>
    <help-file>help/htmlhelp.hhp</help-file>
  </help>
</plugin>
